<ion-view title="Class-Talk">

        <ion-content padding="true">
            <div class="list">

                <a class="item item-avatar" href="#">
                  <img src="https://dyn.web.whatsapp.com/pp?e=https%3A%2F%2Fpps.whatsapp.net%2Fv%2Ft61.11540-24%2F36256066_1851441164912726_8555953248840712192_n.jpg%3Foe%3D5B65E8DD%26oh%3Db5b9d27be31658f89120095f4dba051f&t=l&u=558398896835%40c.us&i=1531387348">
                  <h2>Mailson</h2>
                  <p>Tem muita coisa bugando ahdkrjaisbsis</p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="https://dyn.web.whatsapp.com/pp?e=https%3A%2F%2Fpps.whatsapp.net%2Fv%2Ft61.11540-24%2F36714365_224545291598348_4066244293029789696_n.jpg%3Foe%3D5B65E8DC%26oh%3Dd854d6de21ef910fd63033e93cd375fa&t=l&u=558396207635%40c.us&i=1532139991">
                    <h2>Teofanes</h2>
                    <p>Tô estudando física</p>
                  </a>
                  <a class="item item-avatar" href="#">
                    <img src="https://scontent.frec10-1.fna.fbcdn.net/v/t1.0-9/25552005_1573970376013654_5904284642231872317_n.jpg?_nc_cat=0&oh=97b34ccee52e2779ed5855e94ed91a75&oe=5BC66B10">
                    <h2>Eduardo</h2>
                    <p>O que é CRUD??</p>
                  </a>
                  <a class="item item-avatar" href="#">
                    <img src="https://dyn.web.whatsapp.com/pp?e=https%3A%2F%2Fpps.whatsapp.net%2Fv%2Ft61.11540-24%2F36310700_424575234723413_508280659035291648_n.jpg%3Foe%3D5B65EAB0%26oh%3Dfd189bdc8b67c35d425aa56bf86d6a3a&t=l&u=558399177011%40c.us&i=1531586016">
                    <h2>Antonio</h2>
                    <p>Eu gosto mto de hardware</p>
                  </a>
                  <a class="item item-avatar" href="#">
                    <img src="https://scontent.frec10-1.fna.fbcdn.net/v/t1.0-9/36732385_1583478955114516_7093722592011354112_n.jpg?_nc_cat=0&oh=1afe072b16a29f2df4a02354c1b45024&oe=5C080CEB">
                    <h2>Laires</h2>
                    <p>To fazendo coisas inteligentes pq eu sou o deus do js</p>
                  </a>
            
                
            
            </div>
        </ion-content>
        </ion-view>